{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": false,
  "bracketSameLine": true,
  "trailingComma": "none",
  "importOrder": [
    "^@root/(.*)$",
    "^@components/(.*)$",
    "^@hooks/(.*)$",
    "^@pages/(.*)$",
    "^@definitions/(.*)$",
    "^@configs/(.*)$"
  ],
  "importOrderSeparation": false
}
